<div class="policy_container">
    <div class="display-flex p-3 space-between head">
        <h2 class="mb-0">Refund Policy</h2>
        <a (click)="dialog.close()">Close</a>
    </div>
    
    <div class="mt-2 p-3 content">
        <div>
            <h3>Cancellation Refund:</h3>
            <p> Cancellations made within 48 hours of the booking date will incur a 100% cancellation charge.</p>
            <p> Cancellations between 2 to 7 days will result in a 50% cancellation charge.</p>
            <p> Cancellations between 8 to 14 days will have a 25% cancellation charge.</p>
            <p> No cancellation charges apply for bookings canceled 15 days or more in advance.</p>
        </div>

        <div>
            <h3>Postponement Refund:</h3>
            <p>Users are entitled to one-time postponement with every booking.</p>
            <p>Postponements must be requested a minimum of 10 days before the booking date.</p>
            <p>No additional charges for booking postponements.</p>
            <p>The postponement window is a maximum of 60 days from the original booking date.</p>
            <p>Priority will be given to the original hotel during postponement, subject to availability. If unavailable, alternative properties will be provided, and users must confirm the new bookings.</p>
        </div>
        <div>
            <h3>TRAVALEN.IN's Liability and Refund:</h3>
            <p>TRAVALEN.IN acts as a facilitator and is not liable for issues beyond its control, such as delays, improper services, or incidents caused by service providers.</p>
            <p>TRAVALEN.IN is not responsible for personal injury, loss, or damage caused by co-travelers or service providers.</p>
            <p>Refunds are not applicable for issues beyond TRAVALEN.IN's control, including delays in hotel check-in due to technical snags or reasons not attributable to TRAVALEN.IN.</p>
        </div>
        
        <div>
            <h3>Refund Claim Process:</h3>
            <p>Users must address any discrepancies in hotel information directly with the hotel.</p>
            <p>Refund claims for eligible cancellations or issues must be communicated to TRAVALEN.IN's designated contact within a reasonable timeframe.</p>
        </div>
        <div>
            <h3>Refund Disbursement:</h3>
            <p>Refunds, when applicable, will be processed in accordance with the cancellation or postponement policies.</p>
            <p>TRAVALEN.IN reserves the right to deduct any transaction fees or charges incurred during the refund process.</p>
        </div>

        <div>
            <h3>Refund Mode and Refund Time</h3>
            <p> Refund mode will be same payment method used to booking.</p>
            <p> Refund will be processed in 1 to 3 business days.</p>
        </div>
        <div>
            <h3>Policy Updates:</h3>
            <p>TRAVALEN.IN may update this refund policy to reflect changes in business practices or legal requirements. Users will be notified of significant updates.</p>
        </div>
        <div>
            <h3>User Rights:</h3>
            <p>Users have the right to seek a refund in accordance with the outlined policies.</p>
            <p>Requests for refunds should be directed to TRAVALEN.IN's designated contact.</p>
        </div>
        <div class="mt-4 f-italic">
            By using TRAVALEN.IN, users agree to the terms outlined in this refund policy. It is advised to regularly review the policy for any updates.
        </div>
    </div>
    
</div>






