<h2 class="hotel-heading">Price Slab</h2>


<div class="container-fluid price-container">
  <div class="actions">
    <button (click)="add()">Create Price Slab</button>
  </div>

  <div class="price-mngmt mt-3">
    <div class="table-responsive">
      <table mat-table [dataSource]="priceSlabList" class="mat-elevation-z8">

        <!-- Price Column -->
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef> Price </th>
          <td mat-cell *matCellDef="let element"> {{element.priceSlab}} </td>
        </ng-container>

        <!-- Max Guests Column -->
        <ng-container matColumnDef="maxGuests">
          <th mat-header-cell *matHeaderCellDef> Max Guests </th>
          <td mat-cell *matCellDef="let element"> {{element.maxAllowedGuest}} </td>
        </ng-container>

        <!-- Max Rooms Column -->
        <ng-container matColumnDef="maxRooms">
          <th mat-header-cell *matHeaderCellDef> Max Rooms </th>
          <td mat-cell *matCellDef="let element"> {{element.maxAllowedRoom}} </td>
        </ng-container>

        <!-- Nights Column -->
        <ng-container matColumnDef="nights">
          <th mat-header-cell *matHeaderCellDef> Nights </th>
          <td mat-cell *matCellDef="let element"> {{element.noOfNights}} </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element">
            <a class="edit" (click)="edit(element)">Edit</a> 
            <a class="delete" (click)="delete(element)"   >Delete</a> 
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>
