<!-- user-dashboard -->
<!-- first-section -->
<div class="dashboard">
    <div class="container-fluid">
        <div class="user-dashboard">
            <div class="row g-3">
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="column">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <p class="card-title">Total number of booking</p>
                                <p class="total-one">{{_bookings.length}}</p>
                                <!-- <p class="total-two">+324</p> -->
                            </div>
                            <div class="col-4 text-end">
                                <div class="circle-booking">
                                    <i class="fa-solid fa-suitcase-rolling"></i>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="column">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <p class="card-title">Today's Check In</p>
                                <p class="total-one">{{todaysCheckIn}}</p>
                            </div>
                            <div class="col-4 text-end">
                                <div class="circle-checkin">
                                    <i class="fa-solid fa-arrow-down"></i>
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="column">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <p class="card-title">Today's Check Out</p>
                                <p class="total-one">{{todaysCheckOut}}</p>
                            </div>
                            <div class="col-4 text-end">
                                <div class="circle-checkout">
                                    <i class="fa-solid fa-arrow-up"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="column">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <p class="card-title">Available Rooms</p>
                                <p class="total-one">0</p>
                                <p class="total-two">0</p>
                            </div>
                            <div class="col-4 text-end">
                                <div class="circle-rooms">
                                    <i class="fa-solid fa-bed"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- second-section -->
        <div class="table-section">
            <div class="row align-items-center mb-3">
                <div class="col-sm-6 col-12">
                    <p class="recent-bookings">Recent Bookings</p>
                </div>
                <div class="col-sm-6 col-12">
                    <div class="view-all">
                        <!-- <p>View All</p> -->
                    </div>
                </div>
            </div>
            
            <div class="table-container">
                <table mat-table [dataSource]="_bookings" class="mat-elevation-z8 responsive-table">
                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element"> 
                            <a (click)="bookingDetails(element)" class="booking-link">
                                {{element.guestDetails.firstName}} {{element.guestDetails.lastName}}
                            </a> 
                        </td>
                    </ng-container>
                
                    <!-- Location Column -->
                    <ng-container matColumnDef="location">
                        <th mat-header-cell *matHeaderCellDef> Location </th>
                        <td mat-cell *matCellDef="let element"> 
                            <span *ngFor="let loc of element.location">
                                {{loc.location}} 
                                <span *ngIf="element.location && element.location.length > 1">|</span>
                            </span> 
                        </td>
                    </ng-container>
                
                    <!-- Booking Date Column -->
                    <ng-container matColumnDef="bookingDate">
                        <th mat-header-cell *matHeaderCellDef> Booking Date </th>
                        <td mat-cell *matCellDef="let element"> {{element.bookingDate}} </td>
                    </ng-container>
                    
                    <!-- Phone Column -->
                    <ng-container matColumnDef="phone">
                        <th mat-header-cell *matHeaderCellDef> Phone </th>
                        <td mat-cell *matCellDef="let element"> {{element.guestDetails.phone}} </td>
                    </ng-container>
                
                    <!-- Number of Guests Column -->
                    <ng-container matColumnDef="noOfGuests">
                        <th mat-header-cell *matHeaderCellDef> Number of Guests </th>
                        <td mat-cell *matCellDef="let element">
                            <span class="guests-info">{{element.adults}} Adult(s) {{element.children}} Child(ren)</span>
                        </td>
                    </ng-container>

                    <!-- Room Type Column -->
                    <ng-container matColumnDef="roomType">
                        <th mat-header-cell *matHeaderCellDef> Number of Hotels </th>
                        <td mat-cell *matCellDef="let element">{{element.bookingDetails.length}}</td>
                    </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </div>
    </div>
</div>