table {
    width: 100%;
}

a {
  color: #1EDD8D;
  text-decoration: none;
  cursor: pointer;
}

.button-div {
  padding: 20px;
  background: #ffff;
  margin-bottom: 20px;
}


.button-div button {
  padding: 10px;
    background-color: #1EDD8D;
    border: none;
    color: #fff;
    border-radius: 5px;
}


  