
// first-section
.first-section{
  margin-bottom: 30px;
  background: url("~src/assets/images/landing-banner.png") no-repeat center;
  padding-bottom: 30px;
}
.logo{
  width: 80px;
  height: 30px;
}
.discover{
  font-size: 25px;
  font-weight: 800;
  padding-top: 100px;
  margin: 0;
}
.discover-para{
  font-size: 13px;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.land-img{
  width: 100%;
  // height: 230px;
}
.land-img1{
  width: 100%;
  // height: 350px;
  margin-top: 23%;
}
.btn.btn-success{
  background-color: RGB(30 221 141);
  border: none;
  margin-bottom: 40px;
}

.second{
  width: 80%;
}
.about{
  font-size: 20px;
  font-weight: 800;
  padding-top: 30px;
  padding-bottom: 10px;
  margin: 0px;
}
.about-para{
  font-size: 12px;
  align-items: center;
}
.image1{
  // width: 180px;
  width: 100%;
  // height: 200px;
  margin-top: 10px;
  margin-left: 10px;
}
.image2{
  // width: 180px;
  width: 100%;
  // height: 80px;
  margin-top: 10px;
  margin-left: 10px;
}

// popular-destination
.heading {
  color: #3c3c3c;
  font-size: 25px;
  padding-left: 100px;
  font-weight: bold;
  padding-top: 30px;
  margin: 0;
}
.mini-heading {
  padding-left: 105px;
  font-size: 20px;
  font-weight: 800;
  padding-bottom: 20px;
  padding-top: 15px;
}
.popular-img {
  width: 250px;
  height: 250px;
  border-radius: 10px;
}
.contents {
  // width: 100%;
  padding-bottom: 50px;
  margin-bottom: 100px;
  margin-left: 10px;
  margin-top: 20px;
}
.carrousel {
  display: grid;
  grid-auto-flow: column;
  scroll-behavior: auto;
  gap: 1.2rem;
  overflow-y: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  // margin-left: 50px;
}
.carrousel::-webkit-scrollbar {
  display: none;
}
.card {
  scroll-snap-align: start;
  border-radius: 30px;
  min-height: 250px;
  min-width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}


//   bottom-section
.image3{
  height: 300px;
  width: 200px;
}
.image4{
  height: 300px;
  width: 200px;
  margin-top: 55px;
}
.bottom-icon{
  width: 50px;
  height: 50px;
}
.bottom-heading{
  font-size: 15px;
  font-weight: 800;
}
.bottom-miniheading{
  font-size: 14px;
  justify-content: center;
}
.bottom-right-section{
  // width: 92%;
  margin-bottom: 25px;
}
.bottom-main-heading{
  font-size: 20px;
  font-weight: 800;
  // margin: 20px;
}




@media (min-width:320px)  and (max-device-width : 480px) { /* smartphones, iPhone, portrait 480x320 phones */ 
  .second-section, .banner-sub-img{
    display: none;
  }

  .first-section {
      height: 740px;
  }

  .btn-success {
      width: 100%;
  }

  .banner-content {
      padding: 35% 10%;
  }
  .list-inline{
      text-align: center;
  }

}
@media (min-width:481px)  and (max-device-width : 640px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 

  .second-section, .banner-sub-img{
      display: none;
    }
    
  .first-section {
      height: 740px;
  }

  .btn-success {
      width: 100%;
  }

  .banner-content {
      padding: 35% 10%;
  }
  .list-inline{
      text-align: center;
  }
 
}



@media (min-width:641px) and (max-device-width : 960px) { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
 .banner-sub-img{
     padding-top: 8%;
    }
    
  .list-inline{
      text-align: center;
  }

}
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 


}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ 

}
@media (min-width:1281px) { /* hi-res laptops and desktops */ 

}

