<!-- first-section -->
<!-- <div class="first-section" style="background-image: url(./assets/images/Rectangle\ 21.jpg)"> 
  <div class="container">
    <p class="heading-one">Travealo</p>
    <div class="row">
      <h1 class="heading-two">Welcome to Traveln</h1>
      <div class="çol" style="width: 700px;">
       <p class="para-one">Explore the unseen & unknown lands, culture, history & cuisine with most ease options. Travalen.in is your new online travel partner for all your holiday requirements. Whether you're planning a dream vacation with your family, a romantic honeymoon or a thrilling adventure with your friends, we have everything you need from gorgeous locations to exotic properties. Because for us you are "ADITHI DEVO BHAVA"....</p>
      <button class="btn" (click)="login()">Explore Now</button>
      </div>
    </div>
  </div>
</div>  -->
<!-- second-section -->
<!-- <div class="second-section">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <div class="second-left">
          <h1 class="heading-three">About<span style="color:  #1EDD8D;">Us</span></h1>
          <p class="para-two">travalen.in is a new age online travel portal to provide budget & economical holidays for customers. travalen.in is a part of Tsaka Holidays Pvt Ltd. which started its operations from 2015 onwards. Tsaka Holidays Pvt Ltd. is established towards the point of providing an all end customized package for groups & individuals especially domestic tourism. To provide more economical based holidays for our travelers, we introduced our new holiday plan travalen.in.</p>
        </div> 
      </div>
      <div class="col-4">
          <div>
            <img src="./assets/images/Rectangle 69.jpg" class="second-right-section1">
          </div>
          <div class="second-right-section2"> 
            <img src="./assets/images/Group 148.jpg" class="center-image">
          </div>
      </div>
    </div> 
  </div>
</div> -->
<!-- first-section -->
<div class="first-section">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="./assets/image/logo.png" class="logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        </ul>
        <form class="d-flex" role="search">
          <button class="btn btn-outline-success" type="submit" (click)="openAdmin()">List Your Hotel</button>
        </form>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-7 banner-content">
        <h1 class="discover" style="font-size: 30px;">Discover Your<br> Dream Place in <span
            style="color: #1EDD8D; font-size: 30px; padding-left: 5px;">Travalen</span></h1>


        <p class="discover-para" style="font-size: 18px;">Explore the unseen & unknown lands, culture, history & cuisine
          with most ease options.</p>

        <button type="button" class="btn btn-success" (click)="login()">Explore Now</button>
      </div>
      <div class="col-md-5 banner-sub-img">
        <div class="container">
          <div class="row ">
            <div class="col-6 col-md-6">
              <img src="./assets/image/Rectangle 15.png" class="land-img">
              <img src="./assets/image/Rectangle 71.png" class="land-img">
            </div>
            <div class="col-6 col-md-6">
              <img src="./assets/image/kathakali.png" class="land-img1">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- second-section -->
<div class="second-section">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="second">
          <h1 class="about" style="font-size: 25px;">About<span style="color: #1EDD8D; padding-left: 5px;">Us</span></h1>

          <p class="about-para" style="font-size: 15px;">travalen.in is a new age online travel portal to provide budget
            & economical holidays for customers. travalen.in is a part of Prayaanah Holidays Pvt Ltd. which started its
            operations from 2015 onwards. Prayaanah Holidays Pvt Ltd. is established towards the point of providing an
            all end customized package for groups & individuals especially domestic tourism. To provide more economical
            based holidays for our travelers, we introduced our new holiday plan travalen.in.</p>

        </div>
      </div>
      <div class="col-md-5">
        <div class="container">
          <div class="row text-right">
            <div class="col-6 col-md-6">
              <img src="./assets/image/Rectangle592.png" class="image1">
              <img src="./assets/image/Prayaanah logo.png" class="image2">
            </div>
            <div class="col-6 col-md-6">
              <img src="./assets/image/Brand buddhi logo.png" class="image2">
              <img src="./assets/image/Rectangle 593.png" class="image1">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- popular-destination -->

  <div class="contents">
    <p class="mini-heading" style="font-size: 25px;">Explore Top <span style="color: #1EDD8D; padding-left: 5px; font-size: 25px;">Destinations</span></p>


    <div class="container p-0">
      <div class="carrousel">
        <article class="card">
          <img src="./assets/image/gallery.png" class="popular-img">
        </article>
        <article class="card">
          <img src="./assets/image/gallery (1).png" class="popular-img">
        </article>
        <article class="card">
          <img src="./assets/image/gallery (2).png" class="popular-img">
        </article>
        <article class="card">
          <img src="./assets/image/gallery (3).png" class="popular-img">
        </article>
        <article class="card">
          <img src="./assets/image/gallery.png" class="popular-img">
        </article>
        <article class="card">
          <img src="./assets/image/gallery (1).png" class="popular-img">
        </article>
        <article class="card">
          <img src="./assets/image/gallery (2).png" class="popular-img">
        </article>
      </div>
    </div>
  </div>

  <!-- bottom-section -->

  <div class="container">
    <p class="bottom-main-heading" style="font-size: 25px;">We Offer <span style="color: #1EDD8D; padding-left: 5px;">Best Services</span></p>

    <div class="row align-items-start">
      <div class="col">
        <div class="">
          <div class="display-flex">
            <div class="">
              <img src="./assets/image/Rectangle 599.png" class="image3">
            </div>
            <div class="">
              <img src="./assets/image/Rectangle 600.png" class="image4">
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="bottom-right-section">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12 display-flex">
                <div class="pr-10"><img src="./assets/image/Group 170.png" class="bottom-icon"></div>

                <div class="pt-2">
                  <p class="bottom-heading">Customized Travel Experiences</p>
                  <p class="bottom-miniheading">We specialize in curating personalized travel experiences that cater to
                    your unique preferences and interests.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bottom-right-section">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12 display-flex">
                <div class="pr-10"><img src="./assets/image/Group 171.png" class="bottom-icon"></div>
                <div class="pt-2">
                  <p class="bottom-heading">Trust and Security</p>
                  <p class="bottom-miniheading">Your trust and security are our top priorities. We partner with
                    reputable travel providers, ensuring that every booking is backed by trusted industry standards.</p>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="bottom-right-section">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12 display-flex">
                <div class="pr-10"><img src="./assets/image/Group 172.png" class="bottom-icon"></div>
                <div class="pt-2">
                  <p class="bottom-heading">Select Reasonable Prices</p>
                  <p class="bottom-miniheading">We understand that budget is an important factor when planning your
                    travels. That's why we work tirelessly to negotiate the best deals and offer reasonable prices.</p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>