<!-- forgot passord -->

<form [formGroup]="userForm">
    <div class="forgot-password" *ngIf="showemail">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="forgot-pswd-first-section">
                        <img src="./assets/images/color logo.png">
                        <p class="forgot-pswd-para-one">Forgot Password ?</p>
                        <p class="forgot-pswd-para-two">Please confirm your Email and we'll send you a OTP to reset your password.</p>
                        <label class="labels">Enter Your Email Address</label><br>
                        <input [ngClass]="userForm.controls['email'].errors || !userForm.controls['email'].valid ? 'error text'  : 'text' " 
               type="text" placeholder="name@example.com" formControlName="email">
                        <div class="error-text">{{error}}</div>
                        <button class="forgot-pswd-btn-one" (click) = "sendOtp()">Send OTP</button>
                    </div>
                </div>
                <div class="col-lg-6">
                    <img src="./assets/images/Group.png" class="img">
                </div>
            </div>
        </div>
    </div>
    <!-- otp -->
    <div class="otp" *ngIf="showOtp">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="otp-first-section">
                        <img src="./assets/images/color logo.png">
                        <p class="otp-para-one">Verification.</p>
                        <p class="otp-para-two">Enter the confirmation code sent to your registered email.</p>
                        <!-- <div class="col-md">
                            <ng-otp-input  (onInputChange)="onOtpChange($event)" [config]="{length:4, inputClass:'inner'}"></ng-otp-input>
                        </div> -->
                        <div class="outer">
                            <div class="row">
                                <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="{length:6, inputClass:'inner'}">
                                </ng-otp-input>
                            </div>
                        </div>
                        <div class="error-text">{{otpError}}</div>
                        <button class="otp-btn-one" (click)="verifyOtp()">Verify</button>
                    </div>
                </div>
                <div class="col-lg-6">
                    <img src="./assets/images/Group.png" class="img">
                </div>
            </div>
        </div>
    </div>
    <!-- new-password -->
    <div class="new-password" *ngIf="showPasswordSec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="new-pswd-first-section">
                        <img src="./assets/images/color logo.png">
                        <p class="new-pswd-para-one">Create Password.</p>
                        <p class="new-pswd-para-two">Use a minimum of 10 characters, including uppercase letters,
                            lowercase letters and numbers.</p>
                            <label class="labels">Password</label><br>
                            <div class="row">
                                <div class="pass">
                                    <input [ngClass]="userForm.controls['password'].errors || !userForm.controls['password'].valid ? 'error pswd-text'  : 'pswd-text' "
                                     [type]="showPass ? 'text' : 'password'" placeholder="Enter a Password" formControlName="password">
                                    <span class="eye-box">
                                      <button (click)="showPass = !showPass">
                                        <img [src]="showPass ? './assets/images/eye on.png' : './assets/images/eye off.png'" class="eye">
                                      </button>
                  
                                    </span>
                                </div>
                            </div>
                            <label class="labels">Confirm Password</label><br>
                            <div class="row">
                                <div class="pass">
                                    <input [ngClass]="userForm.controls['confirmPassword'].errors || !userForm.controls['confirmPassword'].valid ? 'error pswd-text'  : 'pswd-text' " 
                                     [type]="showConfirmPass ? 'text' : 'password'" placeholder="Confirm your Password" formControlName="confirmPassword">
                                    <span class="eye-box">
                                        <button (click)="showConfirmPass = !showConfirmPass">
                                        <img [src]="showConfirmPass ? './assets/images/eye on.png' : './assets/images/eye off.png'"
                                            class="eye">
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div class="error-text" *ngIf="userForm.controls['confirmPassword'].errors || !userForm.controls['confirmPassword'].valid">
                                Password doesn't match
                            </div>
                        <!-- <label class="labels">Password</label><br>
                        <input class="text" type="text" placeholder="Enter a Password">
                        <label class="labels">confirm Password</label><br>
                        <input class="text" type="text" placeholder="confirm your Password"> -->
                        <button class="new-pswd-btn-one" (click)="submit()">Submit</button>
                    </div>
                </div>
                <div class="col-lg-6">
                    <img src="./assets/images/Group.png" class="img">
                </div>
            </div>
        </div>
    </div>
</form>
