<!-- Login PopUp -->

<div class="border-one" *ngIf="!showOtpPage">
	<div class="text-right"><a class="cursor-pointer" (click)="close()"><i class="fa-solid fa-x"></i></a></div>
	<div class=" text-center">
		<div class="head-one">
			<h1>Let's Get Started</h1>
		</div>
		<div class="mb-3">
			<a *ngIf="!login" (click)="login=true;">Click here to log in</a>
			<a *ngIf="login" (click)="login=false;">Click here to create account</a>
		</div>
	
		<form [formGroup]="loginForm">
			<div class="popup-one">
				<div  *ngIf="!login">
					<label class="labels">First Name</label>
					<input type="text" class="input" formControlName="fname"><br><br>
					<label class="labels">Last Name</label>
					<input type="text" class="input" formControlName="lname"><br><br>
				</div>
				
				<label class="labels">Mobile No.</label>
				<div class="row">
					<div class="">
						<span>
							<select formControlName="countryCode"
								[ngClass]="loginForm.controls['countryCode'].errors || !loginForm.controls['countryCode'].valid ? 'error code'  : 'code' ">
								<option *ngFor="let code of countryCodes" [value]="code.dial_code">{{code.dial_code}}
								</option>
							</select>
						</span>
						<input class="Ph-No-text"
							[ngClass]="loginForm.controls['phoneNo'].errors || !loginForm.controls['phoneNo'].valid ? 'error Ph-No-text'  : 'Ph-No-text' "
							type="text" placeholder="Phone Number" formControlName="phoneNo">
					</div>
				</div>
				<!-- <input type="text" [ngClass]="loginForm.controls['phoneNo'].errors || !loginForm.controls['phoneNo'].valid ? 'error input' : 'input'" formControlName="phoneNo"><br><br> -->
			</div>
			<div class="error-text mt-3">{{error}}</div>
			<button class="btn-one" (click)="sendOtp()">Send OTP</button>
			
		</form>
	</div>
</div>

<!-- Verification PopUp -->
<div class="border-two " *ngIf="showOtpPage">
	<div class="text-right"><a class="cursor-pointer" (click)="close()"><i class="fa-solid fa-x"></i></a></div>
	<div class="text-center">
		<div class="text-left">
			<a (click)="backToLogin()" class="cursor-pointer"><i class="fa fa-long-arrow-left back-arrow"
					aria-hidden="true"></i></a>
		</div>
		<div class="">
			<h1 class="head-two">Verify Code</h1>
			<p class="head-three">Enter the confirmation code sent via mobile number</p>
		</div>
		<div>
			<div class="container">
				<div class="row">
					<div class="col-md">
						<ng-otp-input (onInputChange)="onOtpChange($event)" [config]="{length:6, inputClass:'inner'}">
						</ng-otp-input>
					</div>
				</div>
				<div class="error-text mt-3">{{error}}</div>
			</div>
			<button class="btn-two" (click)="verifyOtp()" [disabled]="otp.length < 6">Verify</button>
	
		</div>
	</div>
	

</div>