<!-- <agm-map 
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="false"
  (mapClick)="mapClicked($event)">

  <agm-marker 
      *ngFor="let m of markers; let i = index"
      (markerClick)="clickedMarker(m.label, i)"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [label]="m.label"
      [markerDraggable]="m.draggable"
      (dragEnd)="markerDragEnd(m, $event)">
      
    <agm-info-window>
      <strong>InfoWindow content</strong>
    </agm-info-window>
    
  </agm-marker>
  
  <agm-circle [latitude]="lat + 0.3" [longitude]="lng" 
      [radius]="5000"
      [fillColor]="'red'"
      [circleDraggable]="true"
      [editable]="true">
  </agm-circle>

</agm-map> -->

<google-map
  height="400px"
  width="100%"
  [center]="center"
  [zoom]="zoom"
  (mapClick)="addMarker($event)">

  <map-marker
    *ngFor="let m of markers"
    [position]="{ lat: m.lat, lng: m.lng }"
    [label]="m.label"
    [options]="{ draggable: m.draggable }">
  </map-marker>

  <!-- Circle example -->
  <map-circle
    [center]="circleCenter"
    [radius]="5000"
    [options]="{ fillColor: 'red', draggable: true, editable: true }">
  </map-circle>

</google-map>
