.body{
    box-shadow: 3px 3px 20px 3px rgba(1, 1, 0, 0.1);
    padding: 15px;
   
}
.heading{
    padding-top: 35px;
}
.mini-heading{
    font-size: 12px;
    color: #969696;
    margin-bottom: 0;
}
.count{
    font: 13px;
    color: #3C3C3C;
    font-weight: 500;
}
.btn.btn-outline-success{
    color: #1EDD8D;
    border-color: #1EDD8D;
    margin-top: 5px;
}
.btn.btn-primary{
    background-color: #1EDD8D;
    border: none;
    margin-top: 5px;
}

.content {
    margin: 0 30px;
}