<div class="tab-container-wrapper">
	<div *ngIf="isSaving" class="loading-overlay">
	  <mat-spinner diameter="40"></mat-spinner>
	  <span>Saving changes...</span>
	</div>
  
	<mat-tab-group animationDuration="0ms">
  
	  <!-- HOTEL DETAILS TAB -->
	  <mat-tab label="Hotel Details">
		<form [formGroup]="hotelForm">
		  <div class="col-lg-12">
			<div class="hotel-details-long-bar">
  
			  <!-- Header -->
			  <div class="row mb-3">
				<div class="col-lg-6">
				  <h4 class="long-bar-hotel-details">Hotel Details</h4>
				</div>
				<div class="col-lg-6 text-right">
				  <button *ngIf="hotelAction === 'MODIFY'" class="btn-edit-details" (click)="enableEditMode()">
					<img src="./assets/images/Edit.png"> Edit Details
				  </button>
				</div>
			  </div>
  
			  <!-- Main Row: Left = Form, Right = Amenities -->
			  <div class="row">
  
				<!-- Left Column: Hotel Form -->
				<div class="col-lg-8">
  
				  <!-- Hotel Info -->
				  <div class="row mb-3">
					<div class="col-lg-4">
					  <label class="labels">Hotel Name</label>
					  <input class="text" type="text" formControlName="hotelName">
					</div>
					<div class="col-lg-4">
					  <label class="labels">Contact Address</label>
					  <input class="text" type="text" formControlName="address">
					</div>
					<div class="col-lg-4">
					  <label class="labels">Email Address</label>
					  <input class="text" type="text" formControlName="email">
					</div>
				  </div>
  
				  <!-- Website & Location -->
				  <div class="row mb-3">
					<div class="col-lg-6">
					  <label class="labels">Website Link</label>
					  <input class="text" type="text" formControlName="websiteLink">
					</div>
					<div class="col-lg-6">
					  <label class="labels">Hotel Location</label>
					  <input class="text" type="text" formControlName="location">
					</div>
				  </div>
  
				  <!-- Latitude & Longitude -->
				  <div class="row mb-3">
					<div class="col-lg-6">
					  <label class="labels">Latitude</label>
					  <input class="text" type="text" formControlName="latitude">
					</div>
					<div class="col-lg-6">
					  <label class="labels">Longitude</label>
					  <input class="text" type="text" formControlName="longitude">
					</div>
				  </div>
  
				  <!-- About & Rules -->
				  <div class="row mb-3">
					<div class="col-lg-12">
					  <label class="labels">About Hotel</label>
					  <textarea class="long-text" formControlName="about"></textarea>
					</div>
					<div class="col-lg-12">
					  <label class="labels">Property Rules</label>
					  <textarea class="long-text" formControlName="propertyRule"></textarea>
					</div>
				  </div>
  
				  <!-- Images Upload -->
				  <div class="row mb-3">
					<div class="col-lg-12">
					  <app-file-upload
						[disabled]="hotelAction === 'MODIFY'"
						(imageEmitter)="imageEmitter($event)"
						(deletedImageEmitter)="deletedImage($event)"
						[savedImage]="savedImages">
					  </app-file-upload>
					</div>
				  </div>
  
				  <!-- Action Buttons -->
				  <div class="row justify-content-end mb-3">
					<button *ngIf="hotelAction === 'ADD'" class="btn-edit-details" (click)="saveHotel()">Save Hotel</button>
					<div *ngIf="hotelAction === 'EDIT'" class="btn-group-actions">
					  <button class="btn-edit-details" (click)="updateHotel()">Update Hotel</button>
					  <button class="btn-cancel" (click)="cancelEdit()">Cancel</button>
					</div>
				  </div>
  
				</div>
  
				<!-- Right Column: Amenities -->
				<div class="col-lg-4">
				  <label class="labels">Amenities</label>
				  <div class="amenities">
					<div class="display-flex mb-3">
					  <mat-select class="dropdown" (selectionChange)="addAminity($event.value)" [disabled]="hotelAction === 'MODIFY'">
						<mat-option *ngFor="let amenity of amenities" [value]="amenity">{{amenity.description}}</mat-option>
					  </mat-select>
					</div>
					<div class="chip-container">
					  <mat-chip-list #chipList [disabled]="hotelAction === 'MODIFY'">
						<mat-chip *ngFor="let amenity of amenityList" [selectable]="selectable" [removable]="removable" (removed)="removeAmenity(amenity)">
						  {{amenity}}
						  <i matChipRemove class="fa fa-close mt-2"></i>
						</mat-chip>
					  </mat-chip-list>
					</div>
				  </div>
				</div>
  
			  </div>
			</div>
		  </div>
		</form>
	  </mat-tab>
  
	  <!-- ROOM DETAILS TAB -->
	  <mat-tab label="Room Details" [disabled]="!isHotelLoaded">
		<div class="col-lg-12">
		  <div class="room-details-long-bar">
  
			<!-- Header -->
			<div class="row mb-3">
			  <div class="col-lg-8">
				<h4 class="heading-room-details">Room Details</h4>
			  </div>
			  <div class="col-lg-2">
				<input class="search-text" type="search" placeholder="Search">
			  </div>
			  <div class="col-lg-2">
				<button class="btn-add-room" (click)="addRoom()">
				  <img src="./assets/images/Add.png"> Add Room
				</button>
			  </div>
			</div>
  
			<!-- Rooms List -->
			<div *ngFor="let room of hotel?.rooms" class="mb-4">
			  <div class="row mb-2">
				<div class="col-lg-4">
				  <label class="labels">Room Name</label>
				  <input class="text" type="text" [value]="room.roomName" disabled>
				  <label class="labels">Room Price / per night</label>
				  <input class="text" type="text" [value]="room.price" disabled>
				</div>
				<div class="col-lg-8">
				  <label class="labels">Room Tags</label>
				  <div class="room-tags display-flex">
					<p *ngFor="let rmTag of room.roomTags" class="tags">{{rmTag}}</p>
				  </div>
				</div>
			  </div>
  
			  <div class="row mb-2">
				<div class="col-lg-4">
				  <label class="labels">Amenities</label>
				  <div class="amenities display-flex">
					<p *ngFor="let amnty of room.amenities" class="tags">{{amnty}}</p>
				  </div>
				</div>
				<div class="col-lg-8">
				  <label class="labels">Images</label>
				  <div class="images-container row">
					<div class="col-md mt-3" *ngFor="let image of room.roomImages">
					  <img [src]="image.image">
					</div>
				  </div>
				</div>
			  </div>
  
			  <div class="row mb-2">
				<div class="col-lg-4">
				  <label class="labels">No of Rooms</label>
				  <input class="text" type="text" [value]="room.noOfRooms" disabled>
				  <label class="labels">Price Slab</label>
				  <div class="priceSlab">
					<span *ngFor="let price of room.priceSlab">{{price.priceSlabId.priceSlab}}</span>
				  </div>
				</div>
				<div class="col-lg-6">
				  <label class="labels">Additional Package</label>
				  <mat-form-field>
					<mat-select [value]="room.roomPackage" disabled>
					  <mat-option *ngFor="let pack of roomPackage" [value]="pack.parameterId">{{pack.description}}</mat-option>
					</mat-select>
				  </mat-form-field>
				</div>
			  </div>
  
			  <div class="row mb-3">
				<div class="col-lg-12 btn">
				  <button class="btn-edit" (click)="editRoom(room)">Edit</button>
				  <button class="btn-delete" (click)="deleteRoom(room.hotelRoomId)">Delete</button>
				</div>
			  </div>
			  <hr>
			</div>
		  </div>
		</div>
	  </mat-tab>
  
	  <!-- FINANCES TAB -->
	  <mat-tab label="Finances" [disabled]="!isHotelLoaded">
		<form [formGroup]="financeForm">
		  <div class="col-lg-12">
			<div class="finances-long-bar">
			  <h4 class="heading-finances">Finances</h4>
			  <p class="para-one">NOTE: The payment will be processed in INR.</p>
  
			  <div class="finances row">
				<div class="col-lg-6">
				  <label class="labels">Bank Country/Region</label><br>
				  <input class="text" type="text" formControlName="country">
				  <label class="labels">SWIFT Code</label><br>
				  <input class="text" type="text" formControlName="swiftCode">
				  <label class="labels">Account Number</label><br>
				  <input class="text" type="text" formControlName="accountNumber">
				  <label class="labels">PAN</label><br>
				  <input class="text" type="text" formControlName="pan">
				</div>
				<div class="col-lg-6">
				  <label class="labels">Bank Name</label><br>
				  <input class="text" type="text" formControlName="bankName">
				  <label class="labels">IFSC/Bank Code</label><br>
				  <input class="text" type="text" formControlName="ifsc">
				  <label class="labels">Account Holder Name</label><br>
				  <input class="text" type="text" formControlName="accountHolderName">
				</div>
			  </div>
  
			  <div class="para-box">
				<p class="para-two">Due to regulations established by the Indian government, we need your GST registration and PAN details. By submitting this information, you confirm that your PAN and state registration are accurate.</p>
				<p class="para-two">IMPORTANT: As of 04/03/2019, any changes in your GST registration will only br taken into account from the moment you enter these details into our system. Note that it is not possible to apply any changes with a retroactive effect. This may have implication on the taxes we collect and pay to the tax authorities, that are applicable to your reservation (i.e. GST or TCS).</p> 
			  </div>
  
			  <p class="para-three">Are you registered for GST purposes?</p>
			  <label><input type="radio" value="yes" formControlName="registeredForGst"> Yes</label>
			  <label><input type="radio" value="no" formControlName="registeredForGst"> No</label>
  
			  <div class="trade row">
				<div class="col-lg-6">
				  <label class="labels">Trade Name</label><br>
				  <input class="text" type="text" formControlName="tradeName">
				</div>
				<div class="col-lg-6">
				  <label class="labels">GSTIN</label><br>
				  <input class="text" type="text" formControlName="gstIn">
				</div>
			  </div>
  
			  <div class="row mt-3 justify-right">
				<button class="btn-edit" (click)="saveFinance()">Save</button>
			  </div>
			</div>
		  </div>
		</form>
	  </mat-tab>
  
	  <!-- CONTACT PERSON TAB -->
	  <mat-tab label="Contact Person" [disabled]="!isHotelLoaded">
		<form [formGroup]="contactForm">
		  <div class="col-lg-12">
			<div class="finances-long-bar">
			  <h4 class="heading-finances">Contact Person</h4>
			  <div class="row">
				<div class="col-lg-6">
				  <label class="labels">First Name</label><br>
				  <input class="text" type="text" formControlName="firstName">
				  <label class="labels">Last Name</label><br>
				  <input class="text" type="text" formControlName="lastName">
				  <label class="labels">Phone No</label><br>
				  <input class="text" type="text" formControlName="phone">
				  <label class="labels">Whatsapp Number</label><br>
				  <input class="text" type="text" formControlName="whatsapp">
				  <label class="labels">Designation</label><br>
				  <input class="text" type="text" formControlName="designation">
				  <label class="labels">Email</label><br>
				  <input class="text" type="text" formControlName="email">
				</div>
			  </div>
			</div>
		  </div>
		</form>
	  </mat-tab>
  
	</mat-tab-group>
  </div>
  