// Login PopUp
.border-one
{
    // border: 1px solid #969696;
    padding: 50px;
    // width: 500px;
    background-color: white;
    border-radius: 10px;
    // margin-bottom: 100px;
    
}
.head-one
{
    color:  #1EDD8D;
    font: Nunito;
    // margin-left: 40px;
    margin-top: 10px;
}

.labels
{
    color:#969696
}
.input
{
    border: none;
    outline: none;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background-color:whitesmoke !important;
}
.btn-one
{
    width: 150px;
    height: 50px;
    background-color: #1EDD8D;
    color: white;
    border: none;
    outline: none;
    border-radius: 10px;
    // margin-left: 100px;
    margin-top: 50px;
    // margin-bottom: 100px;
    font-weight: bold;
}

input{
    padding:15px;
}

.popup-one {
    text-align: left !important;
}

// Verification PopUp
.border-two
{
    // border: 1px solid #969696;
    padding: 50px;
    // width: 500px;
    background-color: white;
    border-radius: 10px;
}
.head-two
{
    color:  #1EDD8D;
    font: Nunito;
    // margin-left: 70px;
    margin-top: 50px;
}
.head-three
{
    color:#969696;
    padding-bottom: 100px;
    
}
.inner
{
    height: 50px !important;
    width: 50px !important;
    background-color: whitesmoke;
    border-radius: 10px !important;
    border: 1px solid  #1EDD8D !important;
    // margin-right: ;
    
}
.btn-two
{
    width: 150px;
    height: 50px;
    background-color: #1EDD8D;
    color: white;
    border: none;
    outline: none;
    border-radius: 10px;
    // margin-left: 100px;
    margin-top: 100px;
    // margin-bottom: 100px;
    font-weight: bold;
}


input:focus {
    outline: none;
}

.btn-two:disabled {
    opacity: .5;
}

::ng-deep .otp-input {
    height: 33px !important;
    width: 13% !important;
    background-color: whitesmoke !important;
    border-radius: 10px !important;
    border: 1px solid  #1EDD8D !important;
    font-size: 18px !important;
}

::ng-deep .otp-input:focus {
    outline: none;
}

.back-arrow {
    font-size: 20px;
    color: #969696;
}

.Ph-No {
    height: 50px;
    border-radius: 5px;
}

.Ph-No-text {
    border: none;
    outline: none;
    width: 82%;
    height: 40px;
    border-radius: 0 10px 10px 0;
    background-color: whitesmoke;
    color: #98A2B3;
    padding: 15px;
}
.code {
    width: 18%;
    border: none;
    color: #F7F7FD;
    background: #C5C0DB;
    border-radius: 10px 0 0 10px;
    height: 40px;

}



@media (max-width: 959px){
    .cdk-global-overlay-wrapper {
        justify-content: right !important;
        align-items: center !important;
        left: -56px !important;
        top: 9% !important;
    }
  }

  a{
     color: #1EDD8D !important;
     cursor: pointer;
  }