<!-- get in touch section -->
<div class="container-fluid mt-5">
  <div class="get-in-touch">
      <div class="row">
        <div class="col-md-12">
          <p class="get-in-touch-title">Get In Touch</p>
          <p class="get-in-touch-minititle">Explore Popular destinations around Kerala with booking big savings on hotels</p>
        </div>
      </div>
      <div class="get-in-touch-booking">               
        <div class="container-fluid">                  
            <div class="row">
              <div class="col-md-4">
                <a>
                  <p class="location"><i class="fa-solid fa-envelope"></i>
                    <input type="text" placeholder="Type your email">
                  </p>
                </a>
              </div>
              <div class="col-md-4">
                <a>
                  <p class="location"><i class="fa-solid fa-user"></i> 
                    <input type="text" placeholder="Full name">
                  </p>
                </a>
              </div>
              <div class="col-md-4">
                <button type="button" class="btn btn-primary subscribe">Subscribe</button>
              </div>
            </div>    
        </div>              
      </div>
  
    
  </div>
</div>
