<div class="container">
    <div class="demo">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <p class="coming">Coming <a class="soon">Soon...</a></p>
                    <p class="website">Hold Tight! This Page is Coming Soon.</p>
                    <p class="website-content">Our website is under construction, but we are ready to go! we are preparing something amazing and exciting for you. So stay tuned.</p>
                    <p class="travalen">travalen.in</p>
                </div>
                <div class="col-lg-6">
                    <img src="./assets/image/demo.png" class="demo-icon">
                </div>
            </div>
        </div>
    </div>
</div>

