.content {
  background: rgb(237, 238, 244);
}

.side-bar {
  border-right: 1px solid #D9D9D9;
  min-height: 738px;
}

.content-body {
  margin-top: 25px;
}

/* Add this to your layout.component.scss file */
@media (max-width: 768px) {
  .row.layout-row {
    flex-direction: column;
    /* This is the key change. */
  }

  /* Adjust the sidebar and content for stacking */
  .side-bar,
  .content {
    width: 100%;
    /* Ensure they take up the full width */
  }

  .content {
    padding-top: 15px; /* Add some spacing between the sidebar and content */
  }

  .side-bar {
    order: 1; /* Puts the sidebar at the top of the stack */
    min-height: auto; /* Allow it to shrink to its content's size */
  }

  .content {
    order: 2; /* Puts the content below the sidebar */
  }
}



