<!-- <div class="container-fluid">

 

  <div class="row">
      <app-header></app-header>
      <div class="col-md-2 side-bar">
          <app-side-bar></app-side-bar>
      </div>
      <div class="col-md-10 content">
         
          <div class="content-body">
              <router-outlet></router-outlet>
          </div>
          
      </div>
  </div>
 
</div> -->

<div class="container-fluid">
  <div class="row layout-row">
    <app-header></app-header>
    <div class="col-md-2 side-bar">
      <app-side-bar></app-side-bar>
    </div>
    <div class="col-md-10 content">
      <div class="content-body">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>








<!-- <div class="container-fluid p-0">

  <app-header class="header"></app-header>

  <div class="layout-container">
 
    <div class="side-bar">
      <app-side-bar></app-side-bar>
    </div>

 
    <div class="main-content" *ngIf="!isMobile">
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->








 <!-- <div class="row">
      <div class="col-md-2 side-bar">
          <app-side-bar></app-side-bar>
      </div>
      <div class="col-md-10 content">
          <app-header></app-header>
          <div class="content-body">
              <router-outlet></router-outlet>
          </div>
          
      </div>
  </div> -->

  