option_settings:
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /: public
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
  aws:elasticbeanstalk:application:environment:
    PORT: 5000
files:
  "/etc/nginx/conf.d/00_elb.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      server {
          listen 80;
          location / {
              return 301 https://$host$request_uri;
          }
      }