<div class="row">
    <div class="col-lg-12">
      <!-- <div class="">
          <img src="./assets/images/color logo.png" class="img-one">
      </div> -->
      <div class="left-side">
        <div class="list" *ngIf="isSuperAdmin || isHotelAdmin || isAdmin">
          <span class="">
            <!-- <img src="./assets/images/Dashboard.png" class="img-two">  -->
          </span>
          <a class="color"
             routerLink="dashboard"
             routerLinkActive="active"
             [routerLinkActiveOptions]="{ exact: true }">
            <i class="fa-solid fa-table-columns"></i>Dashboard
          </a>
        </div>
  
        <div class="list" *ngIf="isSuperAdmin || isHotelAdmin || isAdmin">
          <span class="">
            <!-- <img src="./assets/images/Hotel-Details.png" class="img-two"> -->
          </span>
          <a class="color"
             routerLink="hotel-profiles"
             routerLinkActive="active"
             [routerLinkActiveOptions]="{ exact: true }">
            <i class="fa-solid fa-hotel"></i>Hotel Details
          </a>
        </div>
  
        <div class="list" *ngIf="isSuperAdmin || isHotelAdmin || isAdmin || isBookingAdmin">
          <span class="">
            <!-- <img src="./assets/images/Booking.png" class="img-two"> -->
          </span>
          <a class="color"
             routerLink="booking"
             routerLinkActive="active"
             [routerLinkActiveOptions]="{ exact: true }">
            <i class="fa-solid fa-suitcase"></i>Booking
          </a>
        </div>
  
        <div class="list" *ngIf="isSuperAdmin || isHotelAdmin || isAdmin">
          <span class="">
            <!-- <img src="./assets/images/Calender.png" class="img-two"> -->
          </span>
          <a class="color"
             routerLink="calendar"
             routerLinkActive="active"
             [routerLinkActiveOptions]="{ exact: true }">
            <i class="fa-solid fa-calendar-days"></i>Calender
          </a>
        </div>
  
        <div class="list" *ngIf="isSuperAdmin || isAdmin">
          <span class="">
            <!-- <img src="./assets/images/Booking.png" class="img-two"> -->
          </span>
          <a class="color"
             routerLink="priceSlab"
             routerLinkActive="active"
             [routerLinkActiveOptions]="{ exact: true }">
            <i class="fa-solid fa-suitcase"></i>Price Slab
          </a>
        </div>
  
        <div class="list" *ngIf="isSuperAdmin || isAdmin">
          <span class="">
            <!-- <img src="./assets/images/Destination.png" class="img-two"> -->
          </span>
          <a class="color"
             routerLink="Destination"
             routerLinkActive="active"
             [routerLinkActiveOptions]="{ exact: true }">
            <i class="fa-solid fa-compass"></i>Destination
          </a>
        </div>
  
        <div class="list" *ngIf="isSuperAdmin || isAdmin">
          <span class="">
            <!-- <img src="./assets/images/Destination.png" class="img-two"> -->
          </span>
          <a class="color"
             routerLink="userManagement/internalUser"
             routerLinkActive="active"
             [routerLinkActiveOptions]="{ exact: true }">
            <i class="fa-solid fa-compass"></i>User Management
          </a>
        </div>
      </div>
    </div>
  </div>
  