<div class="row header">
  <div class="col-lg-12">
      <div class="container-fluid ">
          <div class="row">
              <div class="col-md-2">
                  <img src="./assets/images/color logo.png" class="pt-2">
              </div>
              <div class="col-md-10 display-flex space-between p-2">
                  <a class="navbar-brand head">{{user.hotelName}}</a>

                  <span>
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              
                              <!-- <span class="display-flex">
                                  <span class="profile-pic">
                                      <img src="./assets/images/profile.png">
                                  </span>
                                  <span >
                                      <h5 class="admin-name">{{user.firstName | titlecase}} {{user.lastName | titlecase}}</h5>
                                      <h6 class="color">{{user.role[0].roleName}}</h6>
                                  </span>
                              </span> -->
                          
                              <span class="display-flex profile-wrapper">
                                <span class="profile-pic">
                                  <img src="./assets/images/profile.png" alt="Profile">
                                </span>
                                <span class="profile-text">
                                  <h5 class="admin-name">{{user.firstName | titlecase}} {{user.lastName | titlecase}}</h5>
                                  <h6 class="role-name">{{user.role[0].roleName}}</h6>
                                </span>
                              </span>
                              


                          </a>
                          <!-- <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
                          </ul> -->
                          <ul class="dropdown-menu dropdown-logout" aria-labelledby="navbarDropdownMenuLink">
                            <li>
                              <a class="dropdown-item logout-item" (click)="logout()">
                                <i class="fas fa-sign-out-alt logout-icon"></i>
                                <span class="logout-text">Logout</span>
                              </a>
                            </li>
                          </ul>
                          
                          
                          
                      </li>
                  </span>
              </div>
          </div>
         
          
    
  </div>
</div>